#firstslide img{
	padding-left: 20em;
	height: 500px;
	width: 1160px
}

#secondslide img{
	padding-left: 20em;
	height: 500px;
	width: 1160px
}

#header {

 	width: 100%;
}

#footer {

 	width: 100%;

}

hr { 
	border: 0;
 	height: 1px; 
	background: #333; 
	background-image: linear-gradient(to right, #ccc, #333, #ccc); 
}

body {

	background-color: rgb(224, 222, 222);

}

.divide {

	border-right: 1px solid black;


}

h3 {

	text-align: center;

}

.navbar-brand {

	font-size: 20px;
	font-family: 'Barrio', cursive;

}

#about {

	text-align: center;

}

#subtitle {

	text-align: center;

}

#aboutuspic img {

	max-width: 100%;
	padding-left: 10em;

}



#fontstyle {

	padding: 1.5em;
     
}

.centertitle {

	text-align: center;

}

.selected {
	color: white;
	background: black;
}

.link1:hover {
	color: white;
	background: black;
}
